<h1>Restaurants</h1>

<ul>
    <% @restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %> </li>
    <% end %>
</ul>

<%= link_to "NEW RESTAURANT", new_restaurant_path %>

<i class="fab fa-github"></i>